
/* Mobile Size/Style */
body {
  margin: 0;
  font-size: 50px;
  background: linear-gradient(to bottom,#00FF00 0%,	#00FFFF 100%);
}
main {
  width: 200vw;
  margin: 300px auto;
  width: auto;
}


@media only screen and (min-width:400px) and (max-width: 400px) {
  body {
    background: linear-gradient(to bottom,#00FF00 0%,	#00FFFF 100%);
    text-align: center;
  }
  main {
    width: 200vw;
  }
  h1 {
    font-size: 200px;
  }
}

/* Desktop Size/Style*/
@media only screen and (min-width: 1200px) {
  body {
    background: linear-gradient(to bottom, #FFD700 0%, 	#DC143C 100%);
  }
}

div{
  font-size: 24px;
  margin: 100px auto;
}
h1{
  font-size: 60px;
  margin: 100px auto;

}
h2{
  font-size: 40px;
}
h3{
  font-size: 40px;
}
